<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.sinyuk.yukdaily"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- Leak canary needs access to External storage to save heap dumps -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="br.com.mauker.materialsearchview.db.HistoryProvider"
            android:authorities="com.sinyuk.yukdaily.defaultsearchhistorydatabase"
            android:exported="false"
            android:protectionLevel="signature"
            android:syncable="true"/>

        <activity
            android:name=".ui.splash.SplashActivity"

            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".NewsListDemo">

        </activity>

        <activity
            android:name=".ui.news.BrowserActivity"
            android:theme="@style/AppTheme.Translucent"/>
        <activity android:name=".ui.browser.WebViewActivity"/>

        <activity
            android:name=".ui.browser.ImageActivity"
            android:theme="@style/AppTheme.Image"/>

        <activity
            android:name=".ui.search.SearchActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Transparent"/>
    </application>

</manifest>